<nz-layout class="layout content-wrapper">
  <!--header-->
  <nz-header>
    <div class="logo"></div>
  </nz-header><!--end header-->

  <!--content-->
  <nz-content style="padding:0 50px;">
    <div style="background:#fff; padding: 24px;">
      <div class="text-center">CR课堂在线考勤系统</div>
      <label>原始密码</label>
      <nz-input [nzType]="'password'" [(ngModel)]="passWord" [nzPlaceHolder]="'原始密码'"></nz-input>
      <label>新密码</label>
      <nz-input [nzType]="'password'" [(ngModel)]="newPassWord" [nzPlaceHolder]="'新密码'"></nz-input>
      <label>确认密码</label>
      <nz-input [nzType]="'password'" [(ngModel)]="rNewPassWord" [nzPlaceHolder]="'确认密码'"></nz-input>
      <div>

      </div>
      <button nz-button [nzType]="'primary'">
        <span>确认</span>
      </button>
      <button nz-button [nzType]="'default'">
        <span>取消</span>
      </button>
      <!--<nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'用户名'" (ngModelChange)=""></nz-input>-->
    </div>
  </nz-content><!--end content-->

  <nz-footer style="text-align: center;">CRSC_WD ©2018 Implement By 614</nz-footer>
</nz-layout>
