<nz-layout class="layout content-wrapper">
  <!--header-->
  <nz-header>
    <!--<div class="logo"></div>-->
  </nz-header><!--end header-->

  <!--content-->
  <nz-content style="padding:10% 35%;">
    <div style="background:#fff; padding: 24px;">
      <div class="text-center">CR课堂在线考勤系统</div>
      <label>请输入手机号</label>
      <nz-input [(ngModel)]="phoneNumber" [nzPlaceHolder]="'手机号'"></nz-input>
      <label>手机验证码</label>
      <nz-input [(ngModel)]="MessageCode" [nzPlaceHolder]="'短信验证码'" [disabled]="disabled" ></nz-input>
      <button nz-button [nzType]="'primary'" (click)="getCode($event)">{{tips}}</button>
      <div>
        <label>请输入新密码</label>
        <nz-input [nzType]="'password'" [(ngModel)]="passWord" [nzPlaceHolder]="'新密码'"></nz-input>
      </div>
      <div class="button-container">
        <button class="login-button -style" nz-button [nzType]="'primary'" >
          <span>确认</span>
        </button>

        <button class="login-button-style" nz-button [nzType]="'default'">
          <a routerLink="/register">取消</a>
        </button>
      </div>
      <!--<nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'用户名'" (ngModelChange)=""></nz-input>-->
    </div>
  </nz-content><!--end content-->

  <nz-footer style="text-align: center;">CRSC_WD ©2018 Implement By 614</nz-footer>
</nz-layout>
